<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/madia</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.nous.docker-desktop-watchdog</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/madia/nous-agaas/wiki/tools/docker-watchdog.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/madia/nous-agaas/logs/docker-watchdog.err</string>
	<key>StandardOutPath</key>
	<string>/Users/madia/nous-agaas/logs/docker-watchdog.out</string>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>WorkingDirectory</key>
	<string>/Users/madia/nous-agaas/wiki</string>
</dict>
</plist>
